configuration {
    font:            "JetBrainsMono Nerd Font 18";
    show-icons:      false;
    disable-history: true;
}

@theme "~/.local/share/rofi/themes/one-dark.rasi"

window {
    width:    900px;
    height:   720px;
    location: center;
}
