configuration {
    font:            "JetBrainsMono Nerd Font 22";
    show-icons:      false;
    scroll-method:   0;
    disable-history: false;
}

@theme "~/.local/share/rofi/themes/one-dark.rasi"

window {
    width:    500px;
    location: center;
}

mainbox {
    children: [listview];
}
