configuration {
    font:            "JetBrainsMono Nerd Font 18";
    show-icons:      false;
    scroll-method:   0;
    disable-history: false;
}

@theme "~/.local/share/rofi/themes/one-dark.rasi"

window {
    width:    60%;
    location: center;
}

listview {
    fixed-height: false;
    lines:        10;
    columns:      1;
    scrollbar:    false;
    spacing:      4px;
}
